body{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(255, 255, 255);
}

/* Container for Login, Register, and Home */
.container {
  background: rgb(255, 255, 255);
  padding: 20px;
  width: 320px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
 margin-left: auto;
 margin-right: auto;
 margin-top: 20px;
}

/* Input Fields */
input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #000000;
  border-radius: 5px;
  font-size: 16px;
}

/* Buttons */
button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: #000000;
  color: rgb(254, 249, 249);
  cursor: pointer;
}

button:hover {
  background-color: #171616;
}